---
title: "Useful operations on a DataFrame"
author: "Yagan Arun"
date: 2020-08-12
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd
DATA_PATH = '/Users/yaganarun/Documents/TACTII/kaggle_learnathon/mlnotes/content/python/heart.csv'

In [2]:
df = pd.read_csv(DATA_PATH)

In [4]:
df.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1

In [5]:
# Operation 1 : finding columns in a dataframe
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
# Operation 2 : knowing the row and columns in a dataframe
row , column = df.shape[0] , df.shape[1]
print('no of rows : {} , no of columns : {} '.format(row , column))

no of rows : 303 , no of columns : 14

In [7]:
# Operation 3 : Knowing first 5 rows in a dataframe 
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:
# Operation 4 : Knowing last 5 rows in a dataframe 
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# Operation 5 : To know unique values in a dataframe ==> df.column_name.unique()
df.age.unique()

array([63, 37, 41, 56, 57, 44, 52, 54, 48, 49, 64, 58, 50, 66, 43, 69, 59,
       42, 61, 40, 71, 51, 65, 53, 46, 45, 39, 47, 62, 34, 35, 29, 55, 60,
       67, 68, 74, 76, 70, 38, 77])

In [11]:
# Operation 6 : getting count of each entities in a column.
df.target.value_counts()

1    165
0    138
Name: target, dtype: int64

In [14]:
# Operation 7 : grouping data in a data frame
# here dataframe is grouped based on rating 
df.groupby(['sex'])['target'].count()

sex
0     96
1    207
Name: target, dtype: int64