---
title: "DataFrame apply using lambda function"
author: "Yagan Arun"
date: 2020-08-11
description: "-"
type: technical_note
draft: false
---

In [10]:
import pandas as pd
DATA_PATH = '/Users/yaganarun/Documents/TACTII/kaggle_learnathon/mlnotes/content/python/heart.csv'

In [11]:
data = ['audi is awsome ' , 'Maruthi is best' , 'Benz sucks' , 'Lambhoghini mind blowing'] 
df = pd.DataFrame(data , columns=['feedback'])

In [12]:
df['feedback_chars'] = df['feedback'].apply( lambda x: len(x) )

In [13]:
df

                   feedback  feedback_chars
0           audi is awsome               15
1           Maruthi is best              15
2                Benz sucks              10
3  Lambhoghini mind blowing              24

In [14]:
df.head(2)

          feedback  feedback_chars
0  audi is awsome               15
1  Maruthi is best              15