---
title: "Useful operations on a DataFrame"
author: "Yagan Arun"
date: 2020-08-13
description: "-"
type: technical_note
draft: false
---

# Source
1.) iloc & loc => https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html <br>

In [115]:
import pandas as pd
DATA_PATH = '/Users/yaganarun/Documents/TACTII/kaggle_learnathon/mlnotes/content/python/heart.csv'

In [116]:
df = pd.read_csv(DATA_PATH)

In [117]:
df.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1

In [118]:
# Operation 1 : finding columns in a dataframe
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [119]:
# Operation 2 : knowing the row and columns in a dataframe
row , column = df.shape[0] , df.shape[1]
print('no of rows : {} , no of columns : {} '.format(row , column))

no of rows : 303 , no of columns : 14

In [120]:
# Operation 3 : Knowing first 5 rows in a dataframe 
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [121]:
# Operation 4 : Knowing last 5 rows in a dataframe 
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [122]:
# Operation 5 : To know unique values in a dataframe ==> df.column_name.unique()
df.age.unique()

array([63, 37, 41, 56, 57, 44, 52, 54, 48, 49, 64, 58, 50, 66, 43, 69, 59,
       42, 61, 40, 71, 51, 65, 53, 46, 45, 39, 47, 62, 34, 35, 29, 55, 60,
       67, 68, 74, 76, 70, 38, 77])

In [123]:
# Operation 6 : getting count of each entities in a column.
df.target.value_counts()

1    165
0    138
Name: target, dtype: int64

In [124]:
# Operation 7 : grouping data in a data frame
# here dataframe is grouped based on rating 
df.groupby(['sex'])['target'].count()

sex
0     96
1    207
Name: target, dtype: int64

In [125]:
df.groupby(['sex'])['target'].count()

sex
0     96
1    207
Name: target, dtype: int64

In [126]:
# Opertaion 8 : Indexing and selecting data
#loc => df.loc[ : , : ] first slice is for rows , second slice is for columns
df.loc[: , :] #selects all rows and column

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [127]:
df.loc[10:21 , : ] # second 10 rows are sliced , 

#df.loc[: , 'age':'target'] # slice columns from age to target

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1

In [128]:
# so .iloc is similar to .loc but the issue is we need to know integer postion while selecting or indexing
# hence it is better to use .loc
df.iloc[10:21,0:1]

    age
10   54
11   48
12   49
13   64
14   58
15   50
16   58
17   66
18   43
19   69
20   59

In [129]:
# operation 9 : Renaming column(s) 
df.rename(columns = {'target' : 'class' , 'chol': 'cholestrol'})

,age,sex,cp,trestbps,cholestrol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [130]:
# Operation 10 : Droping Data in a dataframe

# df.drop( labels , index(es) = ? , column(s) = ? , axis = ? )
# labels => single label or list-like
# axis => 0 or ‘index’, 1 or ‘columns' , default 0

cols = ['cp' , 'fbs' , 'restecg']
indexes = [1 , 302 , 200]

df.drop(cols , axis = 'columns' , inplace=True) #droping cloumns
df.drop(indxes , axis = 'index' , inplace = True) #dropping rows or indexes

In [131]:
print('{} rows x {} columns'.format(df.shape[0] , df.shape[1]))

300 rows x 11 columns