---
title: "Useful operations on a DataFrame"
author: "Yagan Arun"
date: 2020-08-12
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [5]:
cars = [['Audi' , 10] , ['Apple' , None] , ['Lambhorghini',10] , ['Bens',9] , ['Samsung',None] , ['Google',None]]
df = pd.DataFrame(data = cars , columns = ['Cars' , 'Rating'])

In [6]:
df

           Cars  Rating
0          Audi    10.0
1         Apple     NaN
2  Lambhorghini    10.0
3          Bens     9.0
4       Samsung     NaN
5        Google     NaN

In [7]:
# Operation 1 : finding columns in a dataframe
df.columns

Index(['Cars', 'Rating'], dtype='object')